/*dark blue #0b2964*/
/*rgba(11, 41, 100, 1)*/
/*light blue #0a9bd9*/
/*rgba(10, 155, 217, 1)*/

/*25% saturation on light blue #a3c9d9*/

/*Arimo:400,700|Teko:400,600*/
/*body*/
/*'Arimo', Helvetica, sans-serif;*/
/*h1 h2*/
/*'Teko', Helvetica, sans-serif;*/


body {
  width:1000px;
  margin: auto;
  background-color: rgba(11, 41, 100, 1);

  /*background-color: rgba(10, 155, 217, .8);*/
  /*background-color: #6db9d9;*/
  /*background-color: #a3c9d9;*/

}

h1 {
  /*color: #0b2964;*/
  color: rgba(10, 155, 217, 1);
  font-family: 'Teko', Helvetica, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  /*margin-top: 36px;*/
  margin-bottom:30px;
}

h2{
  /*color: #0b2964;*/
  color: rgba(10, 155, 217, 1);
  font-family: 'Teko', Helvetica, sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  /*margin-top: 30px;*/
  margin-bottom:20px;
}

p {
  color: #0b2964;
  font-family: 'Arimo', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 135%;
  /*margin-top: 10px;*/
  margin-bottom:30px;
}

#content {
  background-color: #fff;
  /*border-left: 2px solid #0b2964;*/
  /*border-right: 2px solid #0b2964;*/
}

/*#hero {
  width: 800px;
  margin: 0 auto;
}*/

header { 
  width: 950px;
  padding: 25px;
  border-bottom: 3px solid #0b2964;
}

header #nav {
  padding-top: 124px;
  /*padding-right: 25px;*/
  width: 750px;
  height: 30px;
}

#nav ul {
  margin: 0 0 0 25px;
}

#nav li {
  float: left;
  display: inline;
  list-style-type: none;
  background-color: #fff;

}

#nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Arimo', Helvetica, sans-serif;;
  font-size: 14px;
  font-weight: 700;
  padding: 22px 19px;
  display: block;
  letter-spacing: 1px;
  color: #0b2964;
}


#nav li a:hover {
  background-color: rgba(10, 155, 217, .8);
  border-radius: 5px 5px 0 0;
}

#selected {
  background-color: rgba(11, 41, 100, 1);
  border-radius: 5px 5px 0 0;

}

#nav a#selected {
  color: #fff;
}


footer {
  background-color: rgba(11, 41, 100, .8);
  /*background-color: rgba(10, 155, 217, 1);*/
  /*border-top: 2px solid #0b2964;*/
  border-top: 2px solid rgba(10, 155, 217, 1);
  padding: 25px 25px 35px 25px;
}


#social{
  
}

#social li {
  list-style-type: none;
  display: inline;
}
#social img {
  margin-right: 25px;
}

#contact {
 text-align: right;
 
}

#contact li {
  list-style-type: none;
  font-family: 'Arimo', Helvetica, sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 10px 0 10px 0;
}

.right{
  float:right;
}

.left{
  float: left;
}

.clear{
  clear:both;
}






/*placeholders for images */

#logo{
  /*width: 200px;*/
  /*height is actual 153.75*/
  /*height: auto;*/
  /*background-color: #fff;*/
  /*float: left;*/
}

.largeimage {
  /*width: 1000px;*/
  /*height: 600px;*/
  /*height: auto;*/
  /*background-color: #ddd;*/
}

.medimage {
  width: 245px;
  height: 245px;
  margin:10px;
  border-radius: 10px;
  /*background-color: #ddd;*/
}

.miniimage {
  /*width: 30px;*/
  /*height: 30px;*/
  margin: 5px;
  /*background-color: #fff;
  /*background-color: rgba(255, 255, 255, .5)*/
}

.estimateimage{
  width:350px;
  height: 500px;
  border-radius: 10px;

}

.socialimage {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .5);
}

