#hero {
  position: relative;
}

#maintext {
  width: 350px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(11, 41, 100, .8);
  padding: 25px 25px 36px 25px;
  margin: 25px 35px 25px 25px;
  text-align: right;
  border-radius: 25px;
}

#mainimage {
  position: absolute;
}

#maintext p {
  color: #fff;
}

footer {
  position: absolute;
  top: 871px;
  width: 950px;
  background-color: #3b5383;
}
